
<p-accordion  [multiple]="true">
  <p-accordionTab header="Variant" [selected]="true">
    <div>
      Gene: {{gene?.name}}
    </div>
    <div>
      Zygosity: {{geneVariant?.zygosityType?.name}}
    </div>
    <div>
      Type: {{geneVariant?.variantType?.name}}
    </div>
    <div>
      Call: {{geneVariant?.callType?.name}}
    </div>
  </p-accordionTab>
  <p-accordionTab header="Variant Literature">
    <app-gene-variant-literature-data-table [geneVariant]="geneVariant"></app-gene-variant-literature-data-table>
  </p-accordionTab>
  <p-accordionTab header="Variant Annotations" [selected]="true">
    <app-gene-variant-annotations [geneVariant]="geneVariant"></app-gene-variant-annotations>
  </p-accordionTab>
</p-accordion>
