
<p-accordion  [multiple]="true">
  <p-accordionTab header="Variant" [selected]="true">
    <div class="geneNameEl">
      Gene: {{gene?.currentGeneName?.name}}
    </div>
    <div class="zygosityTypeNameEl">
      Zygosity: {{geneVariant?.zygosityType?.name}}
    </div>
    <div class="variantTypeNameEl">
      Type: {{geneVariant?.variantType?.name}}
    </div>
    <div class="callTypeNameEl">
      Call: {{geneVariant?.callType?.name}}
    </div>
  </p-accordionTab>
  <p-accordionTab header="Variant Literature">
    <app-gene-variant-literature-data-table [geneVariant]="geneVariant"></app-gene-variant-literature-data-table>
  </p-accordionTab>
  <p-accordionTab header="Variant Annotations" [selected]="true">
    <app-gene-variant-annotations [geneVariant]="geneVariant"></app-gene-variant-annotations>
  </p-accordionTab>
</p-accordion>
