<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
  <div class="card ui-g-12 ui-md-6 ui-lg-4"><h1>Genes</h1></div>
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
</div>


<div class="ui-g">
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
  <div class="card ui-g-12 ui-md-6 ui-lg-4"><label for="search">Search:</label> <input id="search" (keyup)="searchGenes($event)"></div>
  <div class="ui-g-12 ui-md-6 ui-lg-4"></div>
  <div class="ui-g-12 ui-md-6 ui-lg-2"></div>
  <div class="card ui-g-12 ui-md-6 ui-lg-8">
    <md-progress-spinner *ngIf="spinner" mode="indeterminate"></md-progress-spinner>
    <p-dataTable [value]="genes" selectionMode="single" [(selection)]="selectedGene" (onRowSelect)="onRowSelect($event)">
      <p-column field="symbol" header="Symbols" [sortable]="true">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <div *ngFor="let sym of row.symbol">{{sym.name}}</div>
        </ng-template>
      </p-column>
      <p-column field="chromosome.name" header="Chromosome" [sortable]="true"></p-column>
      <p-column field="currentGeneLocation.start" header="Start" [sortable]="true"></p-column>
      <p-column field="currentGeneLocation.end" header="End" [sortable]="true"></p-column>
      <p-column field="currentGeneLocation.locus" header="Locus" [sortable]="true"></p-column>
      <p-column field="origin" header="Origin" [sortable]="true">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <div *ngFor="let or of row.origin">{{or.name}}</div>
        </ng-template>
      </p-column>
      <p-column field="geneNameExpansion" header="Expansion of gene name" [sortable]="true"></p-column>
      <p-column field="knownGeneFunction" header="Known Function" [sortable]="true">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <!--div (click)="handleKnowFunctionClick($event, row, knownFunctionPanel)">{{row.knownGeneFunction | words : 10 : "..."}}</div-->
          <div (click)="handleKnowFunctionClick($event, row, knownFunctionPanel); $event.stopPropagation()">{{row.knownGeneFunction}}</div>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-2"></div>
</div>

<p-overlayPanel #knownFunctionPanel>{{selectedGene?.knownGeneFunction}}</p-overlayPanel>
