<p-dialog
  header="New Variant"
  [(visible)]="display"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [width]="500"
  [height]="300"
>
  <div>

    <form [formGroup]="newVariantForm">
      <div class="ui-g">
        <div class="ui-g-6">
          <label>Start:</label>
        </div>
        <div class="ui-g-6">
          <input formControlName="start" type="number" size="5"/>
        </div>
        <div class="ui-g-6">
          <label>End:</label>
        </div>
        <div class="ui-g-6">
          <input formControlName="end" type="number"/>
        </div>
        <div class="ui-g-6">
          <label>Zygosity</label>
        </div>
        <div class="ui-g-6">
          <p-dropdown
            formControlName="zygosityType"
            [options]="zygosities"
            [autoWidth]="false"
            width="200"
            placeholder="Select Zygosity"
          ></p-dropdown>
        </div>
        <div class="ui-g-6">
          <label>Type</label>
        </div>
        <div class="ui-g-6">
          <app-variant-type-dropdown formControlName="variantType" [variantTypes]="types"></app-variant-type-dropdown>
        </div>
        <div class="ui-g-6">
          <label>Call</label>
        </div>
        <div class="ui-g-6" formArrayName="callType">
          <div *ngFor="let callTypeControl of callTypesFormArray.controls; let i=index" [formGroupName]="i">
            <div formGroupName="callType">
              <p-dropdown
                formControlName="name"
                [options]="calls"
                [autoWidth]="false"
                width="200"
                placeholder="Select Call"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="ui-g-6">
        </div>
        <div class="ui-g-6">
          <button pButton label="Save" (click)="saveVariant()"></button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
