    <div class="ui-g">
      <div class="ui-g-12">
        <md-card>
          <div class="center-block symbolEl">Symbol: {{gene?.currentSymbol.name}}</div>
        </md-card>
      </div>
      <div class="ui-g-3">
        <md-card class="chromosomeNameEl">
          Chromosome: {{gene?.chromosome?.name}}
        </md-card>
      </div>
      <div class="ui-g-3">
        <md-card class="startEl">
          Start: {{gene?.currentGeneLocation?.start}}
        </md-card>
      </div>
      <div class="ui-g-3">
        <md-card class="endEl">
          End: {{gene?.currentGeneLocation?.end}}
        </md-card>
      </div>
      <div class="ui-g-3">
        <md-card class="locusEl">
          Locus: {{gene?.currentGeneLocation?.locus}}
        </md-card>
      </div>
      <div class="ui-g-6">
        <md-card>
            <div>
              Expantion of gene name:
            </div>
            <div class="nameExpansionEl">
              {{gene?.geneNameExpansion}}
            </div>
        </md-card>
      </div>
      <div class="ui-g-6">
        <md-card>
          <div>
            Known Function
          </div>
          <div class="knownFunctionEl">
            {{gene?.knownGeneFunction}}
          </div>
        </md-card>
      </div>
      <div class="ui-g-6">
        <md-card>
          <div>Previous Symbols: </div>
          <div>
            <div *ngFor="let sym of gene?.symbol">
              {{sym}}
            </div>
          </div>
        </md-card>
      </div>
      <div class="ui-g-6">
        <md-card>
          <div>Previous Names: </div>
          <div>
            <div *ngFor="let name of gene?.geneName">
              {{name}}
            </div>
          </div>
        </md-card>
      </div>
    </div>
