<div>
  <p-dataTable [value]="gene?.geneVariant" selectionMode="single" [(selection)]="selectedVariant" (onRowSelect)="onRowSelect($event)">
    <p-column class="zygosityEl" field="zygosity" header="Zygosity"></p-column>
    <p-column field="type" header="Type"></p-column>
    <p-column field="call" header="Call"></p-column>
    <p-column header="Annotations">
      <ng-template pTemplate="body" let-row="rowData">
        <div *ngFor="let annotation of row.annotations" class="md-card">{{annotation?.note | words : 10 : "..." }}</div>
      </ng-template>
    </p-column>
    <p-footer>
      <div class="ui-helper-clearfix" style="width:100%">
        <button type="button" pButton icon="fa-plus" style="float:left" (click)="showNewVariantDialog()" label="Add"></button>
      </div>
    </p-footer>
  </p-dataTable>
</div>

<p-dialog
  header="New Variant"
  [(visible)]="displayNewVariantDialog"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [width]="500"
  [height]="300"
>
  <div *ngIf="newVariant">

    <div class="ui-g">
      <div class="ui-g-6">
        <label>Zygosity</label>
      </div>
      <div class="ui-g-6">
        <p-dropdown [(ngModel)]="newVariant.zygosity" [options]="zygosities" [autoWidth]="false" width="200" placeholder="Select Zygosity"></p-dropdown>
      </div>
      <div class="ui-g-6">
        <label>Type</label>
      </div>
      <div class="ui-g-6">
        <p-dropdown [(ngModel)]="newVariant.type" [options]="types" [autoWidth]="false" width="200" placeholder="Select Type"></p-dropdown>
      </div>
      <div class="ui-g-6">
        <label>Call</label>
      </div>
      <div class="ui-g-6">
        <p-dropdown [(ngModel)]="newVariant.call" [options]="calls" [autoWidth]="false" width="200" placeholder="Select call"></p-dropdown>
      </div>
      <div class="ui-g-6">
      </div>
      <div class="ui-g-6">
        <button pButton label="Save" (click)="saveVariant()"></button>
      </div>
    </div>
  </div>
</p-dialog>
