<p-dataTable [value]="geneVariant?.literature" selectionMode="single" [(selection)]="selectedLiterature" (onRowSelect)="onRowSelect($event)">
  <p-column field="literature.title" header="Title/URL">
    <ng-template let-col let-row="rowData" pTemplate="body">
      {{row?.literature?.title | json }} / {{row?.literature?.url}}
    </ng-template>
  </p-column>
  <p-column header="Annotations">
    <ng-template let-col let-row="rowData" pTemplate="body">
      <div class="ui-g">
        <div class="ui-g-12">
          <!--md-card *ngFor="let ann of row?.annotation" [innerHTML]="ann.note | words:5"></md-card -->
          <md-card *ngFor="let ann of row?.annotation" [innerHTML]="ann.note"></md-card>
          <button pButton label="Add" (click)="showAddAnnotationDialog(row)"></button>
        </div>
      </div>
    </ng-template>
  </p-column>
  <p-footer>
    <div class="ui-helper-clearfix" style="width:100%">
      <button type="button" pButton icon="fa-plus" style="float:left" (click)="showAddLiteratureDialog()" label="Add"></button>
    </div>
  </p-footer>
</p-dataTable>

<p-dialog header="Add Gene Variant/Literature Annotation" [(visible)]="addAnnotationDialogVisible">
  <div *ngIf="currentGeneVariantLiterature">
    <p-editor [(ngModel)]="currentGeneVariantLiteratureAnnotation.note" [style]="{'height':'200px'}"></p-editor>
  </div>
  <div>
    <button pButton label="Save" (click)="saveAnnotation()"></button>
  </div>
</p-dialog>


<p-dialog header="Add Gene Variant/Literature" [(visible)]="addLiteratureDialogVisible">
  <div>
    <p-listbox [options]="literatureOptions" [(ngModel)]="selectedLiterature" filter="filter"></p-listbox>
  </div>
  <div>
    <button pButton label="Add" (click)="saveLiterature()"></button>
  </div>
</p-dialog>
